<div style="margin-left: 92%; margin-bottom: 10px"> 
  <a class="button" href="<%= movies_path%>">
    Volver
  </a>
</div>
<div>
<div style="display: flex; height: 90vh; max-width: 1200px; margin: auto;">
  <div style="width: 20%; height: 80%; border: 1px solid black; margin-right: 25px">
    <img style="margin: 10px 0 10px 20px; max-width: 80%; height: auto" src="<%= @movie.image %>">
    <h2 class="title" style="margin: 0 0 5px 20px"><%= @movie.name %> </h2>
    <h2 class="subtitle" style="margin: 0 0 5px 20px">Sala: <%= @room %></h2>
    <h2 class="subtitle" style="margin: 0 0 5px 20px">Horario: <%= @time %></h2>
    <% rows = ['A', 'B', 'C', 'D']%>
  </div>
  <div style="flex-grow: 1; height: 80%; border: 1px solid black; justify-content: center;  display: flex; flex-direction: row;">
    <div style="width: 858px;">
    <h1 class="subtitle" style="margin: 40px 0 50px 0; text-align: center"> Elija asientos </h1>
    <div>
      <% rows.each do |row| %>
        <div style="width: 858px; height: 20px;">
          <div style="float: left; width: 30px; height: 40px; margin: 12px;">
            <div style="width: 30px; height: 30px;text-align: center;font-size:30px;">
              <%= row %>
            </div>
          </div>
        <% (1..12).each do |column| %>
          <% if @ocuppied_seats.any?{ |item| item[:row] == row && item[:col] == column} %>
            <div style="background: red;float: left; border: solid 1px; width: 40px; height: 40px; margin: 12px;">
            </div>
          <% else%>
            <a href=<%= view_seats_path({row: row, col: column})%>>
            <% if $clicked_seats.include?({row: row, col: column})%>
              <div style="background: green; float: left; border: solid 1px; width: 40px; height: 40px; margin: 12px;"> 
              </div>
            <% else %>
              <div style="float: left; border: solid 1px; width: 40px; height: 40px; margin: 12px;"> 
              </div>
            <% end %>
            </a>
          <% end %>
        <% end %>
        </div>
      <% end %>
    </div>
    <div style="width:95%;">
    <h1 class="title" style="margin: 0 0 20px 0; text-align: center"> PANTALLA </h1>
    <p style="margin: 0 0 10px 20px; color: blue; "><%= @message %><p>
    </div>
    <% if $clicked_seats.length > 0 %>
      <div>
        <div class="box" style="border: 2px solid black; overflow-y: auto; margin:auto; float:left; width:200px;max-height:150px;">
          <h2 class ="subtitle" style="margin-right: 30px;">Asientos</h2>
          <% $clicked_seats.each do |clicked_seat|%>
            <h3><%= "#{clicked_seat[:row]}#{clicked_seat[:col]}"%></h3>
          <% end %>
        </div>
        <div style="float:right; margin:100px 20px 20px 20px;">
        <% if @message == "" %>
          <%= button_to "Comprar", buy_path(@movie.id, @room, @time), method: "post", class:"button is-black" %>
        <% else %>
          <%= button_to "Comprar", buy_path(@movie.id, @room, @time), method: "post", disabled: true,  class:"button is-black"%>
        <% end %>
        </div>
      </div>  
    <% end %>
    </div>
  </div>
</div>

