<div class="box", style="margin: auto;width: 40%;">
<%= form_for @movie do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label">Título </label>
    <div class="control">
      <%= form.text_field :name , class:"input"%>
    </div>
  </div>
  <div class="field">
    <label class="label">Link del poster </label>
    <div class="control">
      <%= form.text_field :image , class:"input"%>
    </div>
  </div>

  <%= form.fields_for :planners do |f| %>
    <% if (f.options[:child_index] == 0) %>
      <div style="display: flex;">
      <div class="field" style='width: 50%;'>
        <label class="label">Desde </label>
        <div class="control">
          <%= f.date_field :start_date , class:"input"%>
        </div>
      </div>
      <div class="field" style='width: 50%;'>
        <label class="label">Hasta </label>
        <div class="control">
          <%= f.date_field :end_date , class:"input"%>
        </div>
      </div>
      </div>
    <% end%>
    <%= render 'planner_fields', f:f%>
  <% end %>
  <%= link_to_add_fields "Agregar otra Sala/Horario", form, :planners%>
  <div class="actions" style="text-align:right">
    <%= form.submit "Agregar", class:"button is-black" %>
  </div>
<% end %>
</div>

<script>
  $('form').on('click', '.add_fields', function(event){
    console.log('clicked')
    $(this).before($(this).data('fields'));
    return event.preventDefault();
  })
</script>
