<p id="notice"><%= notice %></p>

<div class="container">
<div style="display: flex;">
<div style='width: 70%;'>
<h1 class="title">Cartelera</h1>
</div>
<div style='width: 30%;text-align:right;padding-top:10px'>
<% if params[:admin] %>
  <a class="button" style="margin-left: 15px;" href="<%= new_movie_path%>">
    Agregar película
  </a>
<% end %>
  <a class="button is-primary" style="margin-left: 5px;" href="<%= root_path%>">
    Inicio
  </a>
</div>
</div>

<div class="parent">
  <% @movies.each do |movie| %>
    <%
    planners = {}
    movie.planners.each do |planner|
      if !planners.include?(planner.room)
        planners[planner.room] = [planner.time]
      else 
        planners[planner.room] << planner.time
      end
    end
    %>

    <div class="card">
      <img class="movie-image" src="<%= movie.image %>">
      <div class="container">
        <div class="title"><%= movie.name %></div>
          <%
            if planners.length > 0
              planner = movie.planners[0]
          %>
            <div class="dates">
              <div>
                <strong>Desde:</strong>
                <%= planner.start_date.to_s.gsub('-', '/') %>
              </div>

              <div>
                <strong>Hasta:</strong>
                <%= planner.end_date.to_s.gsub('-', '/') %>
              </div>
            </div>
            
          <% end %>
        <% planners.each do |room, times| %>
          <div class="room-time">
            <span>
              <strong>Sala:</strong>
              <%= room %>
            </span>

            <% if times.include?(1)%>
              <%= link_to "Matiné", view_seats_path(:movie_id => movie.id, :room_id => room, :time_id => 1, :admin => params[:admin]) %> 
            <% end %>
            <% if times.include?(2)%>
              <%= link_to "Tanda", view_seats_path(:movie_id => movie.id, :room_id => room, :time_id => 2, :admin => params[:admin] ) %> 
            <% end %>
            <% if times.include?(3)%>
              <%= link_to "Noche", view_seats_path(:movie_id => movie.id, :room_id => room, :time_id => 3, :admin => params[:admin] ) %> 
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<br>
</div>
