<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<div class="parent">
  <% @movies.each do |movie| %>
    <div class="card">
      <img class="movie-image" src="<%= movie.image %>" alt="<%= movie.name %>">
      <div class="container">
        <h2 class="title"><%= movie.name %></h2>
        <% movie.planners.each_with_index do |planner, index| %>
          <% if index == 0%>
            <div class="dates">
              <span>
                <strong>Start Date:</strong>
                <%= planner.start_date %>
              </span>

              <span>
                <strong>End Date:</strong>
                <%= planner.end_date %>
              </span>
            </div>
            
          <% end %>
          <div class="room-time">
            <span>
              <strong>Room:</strong>
              <%= planner.room %>
            </span>

            <span>
              <strong>Time:</strong>
              <%= {1 => "Matiné", 2 => "Tanda", 3 => "Noche"}[planner.time] %>
            </span>
            <%= link_to "Choose Seats", new_movie_path(:movie_id => movie.id, :room => planner.room, :time => planner.time ) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Movie', new_movie_path %>
